body {
  margin: 0 auto;
  padding: 10px;
  background: #1e3c72; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #95b4ea, #d5ddea);
    background: linear-gradient(to right, #95b4ea, #d5ddea); 
}
h1 {
  color: white;
  text-align: center;
  font-family: 'freebooterscript';
}
h2 {
    margin: 10px auto;
    letter-spacing: 4px;
    font-family: 'Existence-Light', serif;
    color: white;
}
input {
  padding: 10px;
  border-radius: 4px;
}
button, input[value="Make"] {
  margin: 10px auto; 
  padding: 10px 25px;
  border-radius: 4px;
  background: #4C4B63;
  color: white;
}
@font-face {
    font-family: 'freebooterscript';
    src: url('../fonts/freebooterscript-webfont.eot');
    src: url('../fonts/freebooterscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/freebooterscript-webfont.woff') format('woff'),
         url('../fonts/freebooterscript-webfont.ttf') format('truetype'),
         url('../fonts/freebooterscript-webfont.svg#freebooterscript') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Existence-Light';
    src: url('../fonts/Existence-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container {
  width: 300px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  margin: 0 auto 40px;
}
.footer {
  margin: 50px 25px 0px;
  text-align: right;
  color: gray;
  font-size: 15px;
  font-style: italic;
}
.footer a { color: gray; }
#cubeUrl {
  font-style: italic;
  word-wrap: break-word;
}
#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ( -150px );
  transition: transform 1s;
}
#cube figure {
  margin: 0;
  display: table;
  position: absolute;
  width: 297px;
  height: 297px;
  border: 2px solid white;
  line-height: 40px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  word-wrap: break-word;
  table-layout:fixed;
}
#cube figure p {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 15px;
}
#cube .monday  { transform: rotateY(   0deg ) translateZ( 150px ); }
#cube .tuesday   { transform: rotateX( 180deg ) translateZ( 150px ); }
#cube .wednesday  { transform: rotateY(  90deg ) translateZ( 150px ); }
#cube .thursday   { transform: rotateY( -90deg ) translateZ( 150px ); }
#cube .friday    { transform: rotateX(  90deg ) translateZ( 150px ); }
#cube .saturday { transform: rotateX( -90deg ) translateZ( 150px ); }

#cube.show-monday  { transform: translateZ( -150px ) rotateY(    0deg ); }
#cube.show-tuesday   { transform: translateZ( -150px ) rotateX( -180deg ); }
#cube.show-wednesday  { transform: translateZ( -150px ) rotateY(  -90deg ); }
#cube.show-thursday   { transform: translateZ( -150px ) rotateY(   90deg ); }
#cube.show-friday    { transform: translateZ( -150px ) rotateX(  -90deg ); }
#cube.show-saturday { transform: translateZ( -150px ) rotateX(   90deg ); }

#cube.panels-backface-invisible figure { backface-visibility: hidden;}

#cube .monday  { background: #5386E4; }
#cube .tuesday   { background: #4C4B63; }
#cube .wednesday  { background: #949396; }
#cube .thursday   { background: #ABA8B2; }
#cube .friday    { background: #C3C3C3; }
#cube .saturday { background: cornflowerblue; }

#show-buttons { text-align: center; }